@import '../../../../styles/ColorPalette.scss';

.findPeopleBlockRoot {
	display: flex;
	flex-direction: column;
}
%ctaCard {
	flex: initial;
	margin-bottom: 12px;
	border: 1px solid $gray09;
	background-color: $white;
	padding: 18px;
	text-align: center;
	.textCnt {
		color: $gray03;
		font-size: 14px;
		line-height: 18px;
		padding-bottom: 12px;
	}
}
.badgeCnt {
	padding-bottom: 12px;
}
.expertsCtaCard {
	@extend %ctaCard;
	border-top: 3px solid $expertPrimary;
}
.influencersCtaCard {
	@extend %ctaCard;
	border-top: 3px solid $influencerPrimary;
}
.mentorsCtaCard {
	@extend %ctaCard;
	border-top: 3px solid $mentorPrimary;
}
