.statisticsBlockRoot {
	max-height: 100px;
	.chartCnt {
		margin-bottom: 12px;
	}
	.topTrend {
		margin-bottom: 10px;
	}
	.chartHeader {
		margin: 0 0 12px;
		font-size: 14px;
		font-weight: 400;
		line-height: 18px;
	}
}
