@import '../../../styles/ColorPalette.scss';

// .iconBadgeRoot {
// 	display: block;
// }
// .iconCnt {
// 	display: block;
// }
.txtCnt {
	font-weight: 600;
	line-height: 12px;
	margin-bottom: 12px;
}
