@import '../../../styles/ColorPalette.scss';

.employeesCnt {
	flex-wrap: wrap;
	flex: 1;
}
.employeesCntEmpty {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	flex: 1;
	background-color: $white;
	background-repeat: no-repeat;
	// background-attachment: fixed;
	background-position: center center;
}
.emptyHeader {
	position: absolute;
	top: 0;
	left: -30px;
	height: 50%;
	width: 50%;
	background-position: top 20% left;
	background-color: transparent;
	background-repeat: no-repeat;
}
