%stdPadding {
	padding: 12px;
	display: flex;
	flex-direction: column;
}
.dashLeftAside {
	@extend %stdPadding;
	flex: 1;
}
.dashCentralContent {
	@extend %stdPadding;
	flex: 3;
}
.dashRightAside {
	@extend %stdPadding;
	flex: 1;
}
