@import '../../../styles/ColorPalette.scss';

.contentBlockRoot {
	flex: 1;
	border: 1px solid $black;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 6px rgba($black, 0.2);
	background-color: $white;

	.header {
		display: flex;
		flex: 0 0 22px;
		padding: 16px 24px;
		background: $black;
		color: $white;
		font-size: 18px;
		font-weight: 600;
		line-height: 20px;
		.icon,
		.iconImgCnt {
			padding-right: 12px;
		}
		.iconImgCnt {
			position: relative;
			height: 22px;
			width: 26px;
			.iconImg {
				position: absolute;
				height: 26px;
				width: 26px;
				top: -4px;
				left: 0px;
			}
		}
		.txtCnt {
			line-height: 18px;
		}
	}

	.content {
		flex: 1;
		padding: 24px;
		padding-bottom: 0;
	}

	.footer {
		display: flex;
		flex: 0 0 21px;
		justify-content: center;
		padding: 16px;
		font-weight: 600;
		a {
			text-decoration: none;
			color: $gray03;
		}
		.linkCnt {
			display: flex;
			.linkTextCnt {
				flex: 1;
			}
			.linkIconCnt {
				flex: 0;
				font-size: 10px;
				line-height: 20px;
				padding: 0 5px;
			}
		}
	}
}
