@import '../../../styles/ColorPalette.scss';

.messageCardRoot {
	position: relative;
	margin-bottom: 6px;
	border: 1px solid $gray09;
	display: flex;
	flex-direction: column;
	padding: 13px 14px;
	&:last-child {
		margin-bottom: 0;
	}
	.mcHeaderCnt {
		display: flex;
		// flex-direction: row;
		flex: initial;
		.mcPersonaCnt {
			flex: initial;
			padding-right: 8px;
		}
		.mcTitleCnt {
			flex: auto;
		}
		.mcIconCnt {
			flex: initial;
		}
		.titleTop {
			display: flex;
			align-items: baseline;
			.nameCnt {
				flex: initial;
				font-size: 14px;
				line-height: 15px;
				padding-right: 5px;
			}
			.timeCnt {
				flex: initial;
				font-size: 10px;
				line-height: 13px;
				color: $gray04;
			}
		}
		.titleBtm {
			font-size: 12px;
			line-height: 16px;
			color: $gray03;
		}
	}
	.mcBodyCnt {
		flex: initial;
		font-size: 12px;
		line-height: 16px;
		color: $gray04;
		padding: 5px 0 5px 40px;
	}
	.mcFooter {
		flex: initial;
		// text-align: right;
		padding-top: 5px;
	}
}
.messageCardFlagRoot {
	position: absolute;
	top: -10px;
	right: 20%;
	padding: 1px 10px 0px 4px;
	border-radius: 10px;
	display: flex;
	.iconCnt {
		flex: initial;
	}
	.textCnt {
		margin-left: 5px;
		flex: auto;
		font-size: 10px;
		line-height: 16px;
	}
}
