// Teams Colors
// Source: https://github.com/OfficeDev/msteams-ui-components/blob/master/msteams-ui-styles-core/src/colors.ts
$black: #252423;
$white: #fff;
$bar: #33344a;
$gray01: #4e586a; // don't know
$gray02: #484644;
$gray03: #605e5c;
$gray04: #979593;
$gray06: #c8c6c4;
// $gray08: #EIDFDD; I is not valid
$gray09: #edebe9;
$gray10: #f3f2f1;
$gray12: #f4f4f4;
$gray13: #f8f8f9; // don't know
$gray14: #f9f8f7;
$brand00SemiTransparent: #9496ca; // don't know
$brand00Dark: #6264a7;
$brand00: #6264a7;
$brand02: #33344a; // new
$brand04: #464775;
$brand06: #6264a7;
$brand08: #8b8cc7; // new
$brand12: #bdbde6; // new
$brand14: #e2e2f6; // new
$brand16: #f4f4fc; // new
$orchid: #943670;
$magenta: #b24782;
$red: #c4314b;
$red02: #8e192e; // new
$red04: #a72037; // new
$red06: #c4314b; // new
$red08: #f3d6d8; // new
$orange: #e97548;
$orange04: #cc4a31; // new
$yellow: #f8d22a;
$green: #237b4b;

// New Colors
$influencerPrimary: #ab825d;
$expertPrimary: #5dab75;
$mentorPrimary: #5da0ab;
$yellowShade10: #787743;
$greenShade10: #437854;
$blueShade10: #437078;
$orangeShade10: #785c43;
