@import '../../../styles/ColorPalette.scss';

.categoryPickerCnt {
	width: 100%;
	:global(.ms-BasePicker-text) {
		// display: flex;
		// position: relative;
		// flex-wrap: wrap;
		// align-items: center;
		// box-sizing: border-box;
		// min-width: 180px;
		// min-height: 30px;
		// border-width: 1px;
		// border-style: solid;
		border-color: $gray10;
		background: $gray10;
		// border-image: initial;
		// border-radius: 2px;
	}
	:global(.ms-TagItem) {
		// position: relative;
		// box-sizing: content-box;
		// flex-shrink: 1;
		// margin-top: 2px;
		// margin-right: 2px;
		// margin-bottom: 2px;
		// margin-left: 2px;
		// height: 26px;
		// line-height: 26px;
		// cursor: default;
		// display: flex;
		// flex-wrap: nowrap;
		// max-width: 300px;
		// user-select: none;
		// outline: transparent;
		// border-radius: 2px;
		background: $brand00;
	}
	:global(.ms-TagItem-text) {
		// text-overflow: ellipsis;
		// white-space: nowrap;
		// min-width: 30px;
		// margin-top: 0px;
		// margin-right: 8px;
		// margin-bottom: 0px;
		// margin-left: 8px;
		// overflow: hidden;
		color: $white;
	}
	:global(.ms-TagItem-close) {
		// position: relative;
		// font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
		// -webkit-font-smoothing: antialiased;
		// font-size: 14px;
		// font-weight: 400;
		// box-sizing: border-box;
		// display: inline-block;
		// text-align: center;
		// cursor: pointer;
		// vertical-align: top;
		// padding-top: 0px;
		// padding-right: 4px;
		// padding-bottom: 0px;
		// padding-left: 4px;
		// width: 30px;
		// height: 100%;
		// background-color: transparent;
		color: $white;
		// user-select: none;
		// outline: transparent;
		// border-width: initial;
		// border-style: none;
		// border-color: initial;
		// border-image: initial;
		// text-decoration: none;
		// border-radius: 0px 2px 2px 0px;
		// flex: 0 0 auto;
		&:hover {
			color: $white;
			background: $brand04;
		}
	}
}
