@import '../../../styles/ColorPalette.scss';
@import '../../../styles/TeamsUIStyles.scss';

.infoPanelRoot {
	flex: 0 0 1195px;
	// background: $brand16;
	background-color: $white;
	border-top: 3px solid $brand00;
	margin-bottom: 16px;
	padding: 20px 30px;
}
.attributeContainer {
	display: flex;
}
.attributeName {
	flex: 0 0 80px;
	color: $gray01;
	font-size: 14px;
	font-weight: 600;
	line-height: 30px;
}
.attributeValue {
	@extend %tagItemStyles;
	flex: 1;
	padding: 2px 0;
	font-size: 12px;
}
