.cardRoot {
	display: inline-block;
}
.card {
	display: flex;
	background-color: #6264a7;
	padding: 6px 18px 5px 7px;
	margin: 5px;
	font-size: 14px;
	line-height: 16px;
	border-radius: 16px;
	color: #fff;
}
.IconCnt {
	flex: 0;
	margin-right: 10px;
	font-size: 18px;
}
.textCnt {
	flex: 1;
	font-weight: 600;
}
